{% extends "app/base.html" %}

{% block content %}
<form class="col-6 mx-auto p-3 shadow-lg" action='{% url "Signin" %}' method="post">
    <h1 style="text-align: center;"><span style="color: green;">Signin</span></h1>
    {% csrf_token %}
    {% for field in form %}
        <div class="row mb-3">
            <label for="{{ field.auto_id }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>
            <div class="errorlist">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    <p>Don't have an account <a href="{% url 'Signup' %}">Sigup</a> </p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
