{% extends "app/base.html" %}

{% block content %}
    <form class="col-6 mx-auto p-3 shadow-lg" action='{% url "Signup" %}' method="post" enctype="multipart/form-data">
        <h1 style="text-align: center;"><span style="color: green;">Signup</span></h1>
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        {% for field in form %}
        
            <div class="mb-3">
                <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            
                <div class="errorlist" > {{ field.errors }} </div>
            </div>
        
        {% endfor %}

        <p>Already have an account? <a href='{% url "Signin" %}'>Signin</a></p>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
